# https://github.com/maurer2/pipe-nein/blob/main/.github/workflows/ci.yml
defaults:
  run:
    working-directory: slides

name: Build slides and deploy to gh-pages

on:
  push:
    branches:
      - main
    paths-ignore:
      - "code/**"
      - ".vscode/**"
      - ".cspell/**"
  workflow_dispatch: # trigger workflows manually on gh

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install dependencies
        run: pnpm install
      - name: Create dist folder
        run: |
          mkdir ../dist
      - name: Build
        run: pnpm exec slidev build --base /typescript-improvements-slides/
      - name: Deploy pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          build_dir: slides/dist
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
